<div>
  <br><br>
  <a href="/Question/findAll">View Questions</a>
  <br><br>
  <a href="/Question/addQuestionsView">Add Questions</a>
  <br><br>
  <a href="/Tag/findAll">View Tags</a>
  <br><br>
  <a href="/">View Notes</a>
  <br><br>
</div>
