<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular-xeditable Starter Template</title>
  <!-- Bootstrap 3 css -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Angular.js -->
  <script src="bower_components/angular/angular.js"></script>
  <!-- Angular-xeditable -->
  <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <!-- app.js -->
  <script>
    var app = angular.module("app", ["xeditable"]);

    app.run(function(editableOptions) {
      editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
    });

    app.controller('Ctrl', function($scope) {
      $scope.user = {
        name: 'awesome user'
      };
    });
  </script>


</head>
  <body style="padding: 20px">
    <h1 style="margin-bottom: 20px">Angular-xeditable Starter Template</h1>
    <div ng-controller="Ctrl">
      <!-- editable element -->
      <a href="#" editable-text="user.name">{{ user.name || "empty" }}</a>
        <div id="debug" style="margin-top: 30px">
          {{ user | json }}
        </div>
    </div>
  </body>
</html>
