<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Angular-xeditable Starter Template</title>
<!-- Bootstrap 3 css -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Angular.js -->
<script src="/bower_components/angular/angular.js"></script>
<!-- Angular-xeditable -->
<link href="/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
<script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="/bower_components/angular-sails-bind/dist/angular-sails-bind.js"></script>
<div style="padding: 50px" ng-app>
    <form>
        <p style="margin: 20px"> Enter Question </p>
        <textarea rows="10" cols="100" style="margin: 20px"></textarea>
        <br>
        <div style="margin: 20px">
            Tags: <input type="text">

            Difficulty:

            <select ng-model="difficulty.id" convert-to-number style="width: 100px">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            Importance:
            <select ng-model="importance.id" convert-to-number style="width: 100px">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <br>
        <div style="margin: 20px">
            Notes: <textarea rows="2" cols="20"></textarea>
            Note Tags: <textarea rows="2" cols="20"></textarea>
            Notes Importance:
            <select ng-model="notes_importance.id" convert-to-number style="width: 100px">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <input type="submit" value="Save" class="btn btn-primary" style="margin: 20px">
    </form>
</div>
